.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    line-height: 2.5;
    padding: 0 1.25em;
    border: 0;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    line-height: 1.5;
    padding: 0.2em;
    border: 2px solid #959595;
    border-radius: 100px;
    font-weight: 600;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    margin: 0 10px;
    box-shadow: none;
    outline: none;
}

.dataTables_paginate.paging_bootstrap.pagination li {
    float: left;
    margin: 0 1px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    list-style: none;
}

.dataTables_paginate.paging_bootstrap.pagination li:hover a, .dataTables_paginate.paging_bootstrap.pagination li.active a {
    color: #797979;
    background: #eee;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.dataTables_paginate.paging_bootstrap.pagination li a {
    color: #797979;
    padding: 5px 10px;
    display: inline-block;
}

.datatable thead tr {
    background: #0c2e42;
    border-bottom: 2px solid #0b293c;
    color: #fff;
}
